
      <div class>
        <div class="row">
          <form class="col s12" action="upload.php" method="POST" enctype="multipart/form-data">
          <div class="row">
             <div class="file-field input-field col s12">
              <div class="btn">
                <span>Sube tu foto de perfil</span>
                 <input type="file" name="fileToUpload" id="fileToUpload">
              </div>
            </div>
          </div>
          <div class="row center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Subir foto
                <i class="material-icons right">send</i>
              </button>
          </div>

          </form>
  </div>
</div>
