
  <div class="col 12">
    <div class="card">
      <div class="card-content teal lighten-4">
        <h3 >Preguntas a responder</h3>
      </div>
      <div class="card-tabs  teal lighten-5">
        <ul class="tabs tabs-fixed-width  teal lighten-5">
          <li class="tab"><a href="#pregunta1">Pregunta 1</a></li>
          <li class="tab"><a href="#pregunta2">Pregunta 2</a></li>
          <li class="tab"><a href="#pregunta3">Pregunta 3</a></li>
          <li class="tab"><a href="#pregunta4">Pregunta 4</a></li>
        </ul>
      </div>
      <div class="card-content teal lighten-5">
        <div id="pregunta1" class="active">
          <h5>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</h5>
          <p> Porque lo único que hace la funcion de unset, es reestablecer el valor de las variables de sesión, mas no la termina. Y por el otro lado, la funcion destroy() termina la sesión pero sin resetear las variables. Por lo tanto se recomienda usar las dos para que quede la memoria liberada y la sesion temrinada correctamente. [1]</p>
         </div>
        <div id="pregunta2">
           <h5>¿Cuál es la diferencia entre una variable de sesión y una cookie?</h5>
           <p> Son tecnologáis complementarios, por lo que no se deberia de dejar de usar una si se usa la otra. Las variables de sesión permiten guardar y recuperar estas variables a lo largo de peticiones que son subsecuentes durante la ejecucion de la aplicación. Mientras que las cookies ofrecen la persistencia de variables siempre y cuando la cookie siga viva. Las cookies son informacion enviada por el cliete que pueden ser alteradas, por lo que no es recomendable guardar informacion sensible en ellas.[2]</p>
        </div>
        <div id="pregunta3">
          <h5>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h5>
          <p>Respuesta 3</p>
        </div>
        <div id="pregunta4">
          <h5>¿Qué es CSRF y cómo puede prevenirse? </h5>
          <p>Significa Cross-site request forgery y es una vulnerabilidad de aplicacioones web que permite a las personas inducir a usuarios privilegiados y con ciertos permisos dentro del sistema, a que hagan acciones que perjudican el mismo sistema. Estos ataques se pueden prevenir incluyendo en tu aplicación un token CSRF, que de preferencia sea impredecible , que este vinculado a la sesión del usuario, y que se valide cada vez que se quiera hacer una accion relevante. [4]</p>
        </div>
      </div>
    </div>
  </div>

