  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">insert_link</i>[1]</div>
      <div class="collapsible-body"><span>https://www.w3schools.com/php/php_sessions.asp</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">insert_link</i>[2]</div>
      <div class="collapsible-body"><span>[2] https://www.welivesecurity.com/la-es/2015/04/29/vulnerabilidad-xss-cross-site-scripting-sitios-web/</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">insert_link</i>[3]]</div>
      <div class="collapsible-body"><span>https://www.webtrickshome.com/content/php-predefined-functions</span></div>
    </li>
  </ul>