		<div id="preguntas" class="container-fluid  mt-5">
			<h4 class="mb-3">Preguntas por responder: </h4>
			<article>
				<h6>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</h6>
				<p class="lead">
					La puncion phpinfo() te despliega toda la configuracion de la version acutal de php que estas usando, ya sean opciones de compilación, version de oho, información del entorno, etc, Tres de los datos mostrados que mas llamaron mi atencion fueron: te muestra el soporte que tiene para mysqli, tambien muestra como es el estado del soporte de sesisones, y finalmente te muestra las versiones de archivos comprimidos zip que esta version de php soporta.
				</p>
			</article>
			<article>
				<h6>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</h6>
				<p class="lead">
					Podrías cambiar la configuracion sobre como te avisa de los errores, que en vez de desplegarlos en la página, te informe de ellos en un log.
				</p>
			</article>
			<article>
				<h6>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</h6>
				<p class="lead">
					El cpodifo html se ejecuta del lado del servidor, y este la manda instrucciones de como se tiene que desplegar en el dispositivo cliente mediante protocolos HTTP. Despues de esto, el html es devuetlo para que se despliegue en el cliente.
				</p>
			</article>
		</div>