
		</div>
		<div id="problema" class="container-fluid padding mt-5">
			<h4 class="mb-3">Problema: Monedas</h4>
			<p class="lead text-justify">
				In Berland a money reform is being prepared. New coins are being introduced. After long economic calculations was decided that the most expensive coin should possess the denomination of exactly n Berland dollars. Also the following restriction has been introduced for comfort: the denomination of each coin should be divisible by the denomination of any cheaper coin. It is known that among all the possible variants the variant with the largest number of new coins will be chosen. Find this variant. Print in the order of decreasing of the coins' denominations.
			</p>